body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    border: 2px solid black; /* Add this line to display the edges */
}
